<section class="section about" id="about">
    <div class="container about-container">
      <div class="about-div-one">
        <div class="about-div-two">
          <h2 class="about-us-title">Abous Us</h2>
          <p class="about-us-text">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies the
            very best in Swiss craftsmanship and engineering, ensuring that you'll
            always have a reliable and stylish accessory on your wrist.
          </p>
          <p class="about-us-text about-us-text2">
            At our premium watch collection, we believe that a watch is more than
            just a timekeeping device – it's a statement piece that reflects your
            personality and style. So why settle for anything less than the best?
          </p>
          <a href="#catalog" class="about-link">View catalog</a>
        </div>
      </div>
     
        <picture>
          <source
            srcset="
              ./img/about/aboutdeskone.webp 1x,
              ./img/about/aboutdesktwo.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/about/abouttabletone.webp 1x,
              ./img/about/abouttablettwo.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/about/aboutmobone.webp 1x,
              ./img/about/aboutmobtwo.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/about/aboutdesktwo.webp"
            alt="desktwo"
            class="about-image"
            
          />
        </picture>
      
    </div>
  </section>
  