<section class="catalog section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/firstdeskone.webp 1x,
                ./img/catalog/firstdesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/firsttabletone.webp 1x,
                ./img/catalog/firsttablettwo.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/firstmobone.webp 1x,
                ./img/catalog/firstmobtwo.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/firstdeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-def">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/seconddeskone.webp 1x,
                ./img/catalog/seconddesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/secondtabletone.webp 1x,
                ./img/catalog/secondtablettwo.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/secondmobone.webp 1x,
                ./img/catalog/secondmobtwo.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/seconddeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-def">€450</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/thirddeskone.webp 1x,
                ./img/catalog/thirddesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/thirdtabletone.webp 1x,
                ./img/catalog/thirdtablettwo.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/thirdmobone.webp 1x,
                ./img/catalog/thirdmobtwo.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/thirddeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-def">€680</p>
        </div>
      </li>

      <li class="catalog-item">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/fourthdeskone.webp 1x,
                ./img/catalog/fourthdesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/fourthabletone.webp  1x,
                ./img/catalog/fourthtablettwo.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/catalog/fourthmobone.webp 1x,
                ./img/catalog/fourthmobtwo.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/catalog/fourthdeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-def">€380</p>
        </div>
      </li>

      <li class="catalog-item clock-desc-tab">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/fifthdeskone.webp 1x,
                ./img/catalog/fifthdesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/fifthtabletone.webp 1x,
                ./img/catalog/fifthtablettwo.webp 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="./img/catalog/fifthdeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-def">€400</p>
        </div>
      </li>

      <li class="catalog-item clock-desc-tab">
        <div class="img-overline">
          <picture>
            <source
              srcset="
                ./img/catalog/sixthdeskone.webp 1x,
                ./img/catalog/sixthdesktwo.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/catalog/sixthtabletone.webp 1x,
                ./img/catalog/sixthtabletone.webp 2x
              "
              media="(min-width: 768px)"
            />

            <img
              src="./img/catalog/sixthdeskone.webp"
              alt="fhoto"
              width="304"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-def">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-button">Show more</button>
  </div>
</section>
