<section class="section contact" id="contact">
  <div class="container">
    <h2 class="contact-title">Contact us</h2>
    <div class="contact-wrapper">
      <form class="contact-form">
        <p class="contact-descr">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <input
          type="text"
          name="user-name"
          class="contact-input"
          placeholder="Name"
          required
        />
        <input
          type="email"
          name="user-email"
          class="contact-input"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          title="Enter a valid email address (e.g., user@example.com)"
          required
        />
        <input
          type="tel"
          name="user-tel"
          class="contact-input"
          placeholder="+380"
          pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
          title="Enter a phone number in the format: +380-XX-XXX-XX-XX"
          required
        />
        <textarea
          name="user-comment"
          class="contact-textarea"
          placeholder="Comment"
        ></textarea>
        <button class="contact-btn" type="submit">Send</button>
      </form>
      <picture>
        <source
          srcset="
            ./img/contact/contactdeskone.webp 1x,
            ./img/contact/contactdesktwo.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/contact/contacttabletone.webp 1x,
            ./img/contact/contacttablettwo.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/contact/contactmobone.webp 1x,
            ./img/contact/contactmobtwo.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./img/contact/contactdeskone.webp"
          alt="swatch"
          class="contact-image"
          width="530"
        />
      </picture>
    </div>
  </div>
</section>
