<footer class="footer container">
  <div class="logo-soc-tel-wrapper">
    <a href="/index.html" class="footer-logo">watchcharm</a>
    <ul class="footer-soc-list">
      <li class="footer-soc-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="nofollow"
          class="footer-soc-link"
        >
          <svg class="footer-soc-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="nofollow"
          class="footer-soc-link"
        >
          <svg class="footer-soc-icon" width="18" height="18">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="nofollow"
          class="footer-soc-link"
        >
          <svg class="footer-soc-icon" width="18" height="18">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="footer-telephone-wrapper">
      <a href="tel:+380684439426" class="footer-telephone"
        >+380 (68) 443-94-26</a
      >
    </div>
  </div>
  <p class="footer-long-text">
    Have the time of your life with our watches: where high-class craftsmanship
    meets impeccable design
  </p>
  <div class="nav-address-wrapper">
    <nav class="footer-navigation">
      <ul class="footer-navigation-list">
        <li class="footer-navigation-item">
          <a href="#home" class="footer-navigation-link">Home</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#about" class="footer-navigation-link">About Us</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#catalog" class="footer-navigation-link">Catalog</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#sale" class="footer-navigation-link">Sale</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#reviews" class="footer-navigation-link">Reviews</a>
        </li>
        <li class="footer-navigation-item">
          <a href="#contact" class="footer-navigation-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <address class="footer-address">
      1678 S. Pioneer Road Salt Lake City, UT 84104
    </address>
  </div>

  <div class="line"></div>

  <div class="foter-policies-text-wrapper">
    <p class="footer-text">©2023 The Watch Spot. All rights reserved.</p>
    <ul class="foter-policies-list">
      <li class="foter-policies-item">
        <a href="" class="foter-policies-link">Terms of Service</a>
      </li>
      <li class="foter-policies-item">
        <a href="" class="foter-policies-link">Privacy Policy</a>
      </li>
    </ul>
  </div>
</footer>
