<section class="section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-wrapper-title-text">
        <h1 class="hero-title">
          Welcome to our
          <span class="hero-title-span">collection</span> of premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-ellipse-scroll-wrapper">
        <div class="hero-ellipse-wrapper">
          <img
            class="hero-elipse-image"
            srcset="
              ../img/customer/girlone.webp 1x,
              ../img/customer/girltwo.webp 2x
            "
            src="../img/customer/girlone.webp"
            alt="ellipse-humans"
            width="60"
          />
          <img
            class="hero-elipse-image hero-ellipse-center"
            srcset="
              ../img/customer/manone.webp 1x,
              ../img/customer/mantwo.webp 2x
            "
            src="../img/customer/manone.webp"
            alt="ellipse-humans"
            width="60"
          />
          <img
            class="hero-elipse-image hero-ellipse-end"
            srcset="
              ../img/customer/womone.webp 1x,
              ../img/customer/womtwo.webp 2x
            "
            src="../img/customer/womone.webp"
            alt="ellipse-humans"
            width="60"
          />
        </div>
        <a href="#scroll-down" class="hero-scroll">Scroll down</a>
      </div>
    </div>

    <picture>
      <source
        srcset="
          ../img/hero/herodeskone.webp 1x,
          ../img/hero/herodesktwo.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ../img/hero/herotabletone.webp 1x,
          ../img/hero/herotablettwo.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="../img/hero/heromobone.webp 1x, ../img/hero/heromobtwo.webp 2x"
        media="(max-width: 767px)"
      />
      <img
        src="../img/hero/herodeskone.webp"
        alt="an image of a wristwatch"
        width="1150"
      />
    </picture>
  </div>
</section>
