<section class="section">
    <div class="container">

        <h2 class="sale-header">Sale</h2>
        
<div class="sale-container">
    
            <div class="sale-images">
                <ul class="sale-side-image-list">
                    <li class="sale-side-image-item">
                        <picture>
                            <source srcset="../img/sale/salefirstdeskone.webp 1x, ../img/sale/salefirstdesktwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 1280px)">
                            <source srcset="../img/sale/salefirsttabletone.webp 1x, ../img/sale/salefirsttablettwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 768px) and (max-width: 1279px)">
                            <img class="sale-side-image"
                                srcset="../img/sale/salefirstmobone.webp 1x, ../img/sale/salefirstmobtwo.webp 2x"
                                src="../img/sale/salefirstmobone.webp" alt="" width="80px" height="80px">
                        </picture>
                    </li>
                    <li class="sale-side-image-item">
                        <picture>
                            <source srcset="../img/sale/saleseconddeskone.webp 1x, ../img/sale/saleseconddesktwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 1280px)">
                            <source srcset="../img/sale/salesecondtabletone.webp 1x, ../img/sale/salesecondtablettwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 768px) and (max-width: 1279px)">
                            <img class="sale-side-image"
                                srcset="../img/sale/salesecondmobone.webp 1x, ../img/sale/salesecondmobtwo.webp 2x"
                                src="../img/sale/salesecondmobone.webp" alt="" width="80px" height="80px">
                        </picture>
                    </li>
                    <li class="sale-side-image-item">
                        <picture>
                            <source srcset="../img/sale/salethirddeskone.webp 1x, ../img/sale/salethirddesktwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 1280px)">
                            <source srcset="../img/sale/salethirdtabletone.webp 1x, ../img/sale/salethirdtablettwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 768px) and (max-width: 1279px)">
                            <img class="sale-side-image"
                                srcset="../img/sale/salethirdmobone.webp 1x, ../img/sale/salethirdmobtwo.webp 2x"
                                src="../img/sale/salethirdmobone.webp" alt="" width="80px" height="80px">
                        </picture>
                    </li>
                    <li class="sale-side-image-item">
                        <picture>
                            <source srcset="../img/sale/salefourthdeskone.webp 1x, ../img/sale/salefourthdesktwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 1280px)">
                            <source srcset="../img/sale/salefourthtabletone.webp 1x, ../img/sale/salefourthtablettwo.webp 2x"  width="132px" height="132px"
                                media="(min-width: 768px) and (max-width: 1279px)">
                            <img class="sale-side-image"
                                srcset="../img/sale/salefourthmobone.webp 1x, ../img/sale/salefourthmobtwo.webp 2x"
                                src="../img/sale/salefourthmobone.webp" alt="" width="80px" height="80px">
                        </picture>
                    </li>
                </ul>
            
                <picture>
                    <source srcset="../img/sale/salefifthdeskone.webp 1x, ../img/sale/salefifthdesktwo.webp 2x"  width="428px" height="558px"
                        media="(min-width: 1280px)">
                    <source srcset="../img/sale/salefifthtabletone.webp 1x, ../img/sale/salefifthtablettwo.webp 2x"  width="552px" height="558px"
                        media="(min-width: 768px) and (max-width: 1279px)">
                    <img class="sale-main-image" srcset="../img/sale/salefifthmobone.webp 1x, ../img/sale/salefifthmobtwo.webp 2x"
                        src="../img/sale/salefifthmobone.webp" alt="" width="335px" height="385px">
                </picture>
            </div>
    
            <div class="sale-card-container">
    
                <h3 class="sale-card-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
    
                <p class="sale-product-tag">Product tag: 706587</p>
    
                <div class="sale-price-container">
                    <span class="sale-current-price">€1500</span>
                    <span class="sale-old-price">€3000</span>
                </div>
    
                <p class="sale-product-description">
                    The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes
                    materials and
                    features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material
                    and has a
                    precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in
                    any
                    conditions.
                </p>
    
                <div class="sale-tags">
                    <span class="tag">Fused carbon fiber</span>
                    <span class="tag">Grade-5 Titanium</span>
                    <span class="tag">Athlete</span>
                    <span class="tag">Golfer</span>
                    <span class="tag">Commander</span>
                    <span class="tag">Adventurer</span>
                </div>
    
            </div>
</div>
    </div>
</section>

<!--  <div class="sale-images">
            <ul class="sale-side-image-list">
                <li class="sale-side-image-item">
                    <img class="sale-side-image"
                        srcset="../img/sale/salefirstmobone.webp 1x, ../img/sale/salefirstmobtwo.webp 2x"
                        src="../img/sale/salefirstmobone.webp" alt="" width="80px" height="80px">
                </li>
                <li class="sale-side-image-item">
                    <img class="sale-side-image"
                        srcset="../img/sale/salesecondmobone.webp 1x, ../img/sale/salesecondmobtwo.webp 2x"
                        src="../img/sale/salesecondmobone.webp" alt="" width="80px" height="80px">
                </li>
                <li class="sale-side-image-item">
                    <img class="sale-side-image"
                        srcset="../img/sale/salethirdmobone.webp 1x, ../img/sale/salethirdmobtwo.webp 2x"
                        src="../img/sale/salethirdmobone.webp" alt="" width="80px" height="80px">
                </li>
                <li class="sale-side-image-item">
                    <img class="sale-side-image"
                        srcset="../img/sale/salefourthmobone.webp 1x, ../img/sale/salefourthmobtwo.webp 2x"
                        src="../img/sale/salefourthmobone.webp" alt="" width="80px" height="80px">
                </li>
            </ul>

            <img class="sale-main-image" srcset="../img/sale/salefifthmobone.webp 1x, ../img/sale/salefifthmobtwo.webp 2x"
                src="../img/sale/salefifthmobone.webp" alt="" width="335px" height="385px">
        </div> -->