.header-section {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    max-width: 375px;
}

.logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-nav {
    display: none;
}

.header-nav-list {
    display: none;
}

.header-nav-item {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;

}

.social-links {
    display: none;
}

.burger-btn {
   
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-icon {
    stroke-width: 2.50px;
    stroke: #0c0c0c;
    width: 28px;
    height: 14px;
}



.mobile-menu {
    width: 200px;
    height: 812px;

    background-image: linear-gradient(rgba(12, 12, 12, 0.92),
            rgba(12, 12, 12, 0.92)),
        url(../img/header/mb-nav-bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: fixed;
    top: 0;
    right: 0;

    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
    .mobile-menu {
        background-image:
            linear-gradient(rgba(12, 12, 12, 0.92),
                rgba(12, 12, 12, 0.92)),
            url(../img/header/mb-nav-bg-2x.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 240px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;

}



.mobile-menu-close {
    position: absolute;
    width: 34px;
    height: 34px;

    right: 20px;
    top: 21px;
    background-color: transparent;

    stroke-width: 2.50px;
    stroke: #fbfbfb;

    border: none;
    cursor: pointer;

}

.mobile-nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 260px;
}

.mobile-nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}



.mobile-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;

    position: relative;
}

.mobile-nav-link.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;

    border-radius: 100%;
    background-color: #3350e9;
}


.mobile-social-links-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.mobile-social-link-item {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    
    width: 34px;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-icon-close {
    width: 20px;
    height: 20px;

    stroke-width: 2.50px;
    stroke: #fbfbfb;
}

.svg-mobile {
    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.svg-mobile:hover,
.svg-mobile:focus {
    fill: #fff;
}




@media screen and (min-width: 768px) {
    .header-section {

        border-bottom: 1px solid #ccc;
    }

 

    .header-container {
        padding: 26px;
        max-width: 768px;
    }

    .logo {
        font-size: 20px;
    }


    .mobile-menu {
        width: 330px;
        height: 1024px;

        background-image: linear-gradient(rgba(12, 12, 12, 0.92),
                rgba(12, 12, 12, 0.92)),
            url(../img/header/tab-nav-bg.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-resolution: 192dpi) {
        .mobile-menu {
            background-image:
                linear-gradient(rgba(12, 12, 12, 0.92),
                    rgba(12, 12, 12, 0.92)),
                url(../img/header/tab-nav-bg-2x.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

    }

    .mobile-menu-container {
        padding-top: 310px;
        padding-bottom: 50px;

        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .mobile-nav-menu {
        gap: 32px;
        margin-bottom: 354px;
    }

    .mobile-menu-close {
        position: absolute;
        width: 40px;
        height: 40px;

        right: 32px;
        top: 26px;
        background-color: transparent;

        stroke-width: 3px;
    }

    .mobile-social-link-item {
        width: 36px;
        height: 36px;
    }

    .svg-icon-close {
        width: 24px;
        height: 24px;
    }

    .svg-mobile {
        width: 20px;
        height: 20px;
    }

    .burger-btn {
        
        border-radius: 10px;
        padding: 8px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .burger-icon {


        stroke-width: 3px;
        stroke: #0c0c0c;
        width: 34px;
        height: 16px;
    }
}

@media screen and (min-width: 1280px) {

    .header-section {
        border-bottom: 1px solid #ccc;
    }

    .header-container {
        max-width: 1151px;
    }

    .burger-btn {
        display: none;
    }

    .burger-icon {
        display: none;
    }

    .header-nav-container {
        padding-bottom: 4px;
    }

    .header-nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }

    .header-nav-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 40px;
    }

    .header-nav-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        text-align: center;
        color: #0c0c0c;

        padding-bottom: 10px;


    }

    .header-nav-link {
        position: relative;
    }

   
    .mobile-nav-link.active::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -12px;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;

        border-radius: 100%;
        background-color: #3350e9;

    }

    .header-nav-link.active::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);

        width: 8px;
        height: 8px;

        background-color: #3350e9;
        border-radius: 100%;

    }


    .social-links {
        display: flex;
    }

    .social-links-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        gap: 10px;
    }

    .social-link-item {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid rgba(12, 12, 12, 0.1);
        border-radius: 10px;
        padding: 8px;
        width: 36px;
        height: 36px;
    }

    .svg-mobile {
        fill: #0c0c0c;
    }

    .svg-mobile:hover,
    .svg-mobile:focus {
        fill: #3350e9;
    }

   

    .mobile-menu {
        display: none;
    }
}