.reviews-item-anastasia,
.reviews-item-victoria {
  display: none;
}
.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  max-width: 335px;
  height: auto;
 
}
.reviews-item {
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.reviews-item:hover,
.reviews-item:focus
 {
  transform: translateY(-5px);
}

.reviews-image {
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
}
.reviews-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.reviews-text {
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.4);
}


@media screen and (min-width: 768px) {
  .reviews-item-victoria {
    display: block;
  }
  
  .reviews-title {
    font-size: 48px;
    line-height: 0.92;
  }

.reviews-subtitle {
    font-size: 18px;
    line-height: 1.1;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    max-width: 704px;
    min-height: 272px;
    gap: 16px;
  }

  .reviews-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1280px) {
 

  .reviews-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .reviews-list {
    
    gap: 20px;
    max-width: 1150px;
  }

  .reviews-item {
    width: calc((100% - 40px) / 3);
  }

  .reviews-item-anastasia {
    display: block;
  }
  .reviews-container {
    max-width: 100%;
  }
}