.sale-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .sale-container {
        gap: 40px;
    }

}

@media screen and (min-width: 1280px) {
    .sale-container {
        flex-direction: row;
    }
}


.sale-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .sale-title {
        font-size: 48px;
        line-height: 92%;
        margin-bottom: 40px;
    }

}


.sale-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .sale-images {
        flex-direction: row;
    }
}


.sale-side-image-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

@media screen and (min-width: 768px) {
    .sale-side-image-list {
        flex-direction: column;
        gap: 10px;
    }
}


.sale-card-container {
    border-radius: 30px;
    background: #3350E9;
    padding: 48px 28px;
}

@media screen and (min-width: 768px) {
    .sale-card-container {
        border-radius: 50px;
        padding: 60px;
    }

}

@media screen and (min-width: 1280px) {
    .sale-card-container {
        width: 530px;
        height: 558px;
        padding-right: 0;
    }
}

.sale-card-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .sale-card-title {
        font-size: 32px;
        line-height: 112%;
    }
}

@media screen and (min-width: 1280px) {
    .sale-card-title {
        margin-right: 80px;
    }

}

.sale-product-tag {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .sale-product-tag {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%
    }
}

.sale-price-container {
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .sale-price-container {
        margin-bottom: 30px;
    }
}

.sale-current-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    background: rgba(251, 251, 251, 0.1);
    border-radius: 8px;
    padding: 8px 12px;
    width: 68px;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .sale-current-price {
        font-size: 20px;
        line-height: 100%;
        width: 78px;
    }
}

.sale-old-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    text-decoration: line-through;
    color: rgba(251, 251, 251, 0.5);
}

.sale-product-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.7);
    margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
    .sale-product-description {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 40px;
    }

}

@media screen and (min-width: 1280px) {
    .sale-product-description {
        margin-right: 60px;
    }
}

.sale-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .sale-tags {
        width: 398px;
        height: 76px;
    }

}

@media screen and (min-width: 1280px) {
    .sale-tags {
        margin-right: 72px;
    }

}

.tag {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: #FBFBFB;
}

@media screen and (min-width: 768px) {
    .tag {
        font-size: 14px;
        line-height: 129%;
    }
}